.subscription-form {
    @media screen and (max-width: 1199px){
        margin-top: 60px;
    }
    @media screen and (min-width: 1200px){
        margin-left: auto;
    }
    &_caption {
        display: block;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--akcent-text-color);
        margin-bottom: 20px;
    }
    &_thumb {
        @media screen and (min-width: 1200px){
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &_input {
        display: inline-block;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        cursor: pointer;
        background: #2F303A;
        color: var(--akcent-text-color);
        transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        @media screen and (max-width: 1199px) {
            margin-bottom: 20px;
        }
        @media screen and (min-width: 480px){
            width: 450px;
        }
        @media screen and (min-width: 1200px) {
            width: 358px;
        }
    }
    &_input:hover,
    &_input:focus {
        outline: 1px solid var(--akcent-color);
    }
    &_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        color: var(--akcent-text-color);
        background-color: var(--akcent-color);
        cursor: pointer;
        letter-spacing: 0.06em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (max-width: 1199px){
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (min-width: 1200px){
            margin-left: 20px;
        }
    }
    &_button:hover,
    &_button:focus {
        background-color: var(--akcent-btn-color);
    }
    &_icon {
        margin-left: 10px;
    }
}