:root {
    --akcent-btn-color: #188CE8;
    --akcent-color: #2196F3;
    --akcent-text-color: #FFFFFF;
    --akcent-text-transperent: rgba(255, 255, 255, 0.6);
    --logo-bg-transperent: rgba(255, 255, 255, 0.1);
    --btn-color: #F5F4FA;
    --text-color: #212121;
    --text-color-primary: #757575;
    --hero-bg: #C4C4C4;
    --logos-color: #AFB1B8;
}